<div class="sixteen columns" style="text-align:center;padding-bottom:25px;">
  <h1>amd.im</h1>
</div>

<div class="sixteen columns" style="text-align:center">
  <img class="scale-with-grid" src="<%= url.url %>" />
  <p><a href="<%= request.url %>"><%=request.url%></a></p>
</div>
